.label{
    width: 450px;
    height: 78px;
}
.drop-down{
    display:none;
    /* background-color: #455a64; */
}
.drop-down:hover{
    color:white;
}
.nav-bar:hover .drop-down{
    display:block;
    
    
}
.small-nav:hover .drop-down{
    display: block;
}
.nav-parent{
    color:rgba(255, 255, 255, 0.5);
    
}
.small-nav-parent{
    display: none;
    display: none;
    color: white;
    background-color: #455a64;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 640px) {
    .nav-parent{
        display: none;
    }
    .small-nav-parent{
        display: block;
    }
    .hamburger{
        display: flex;
        justify-content: end;
        align-items:flex-start;
    }
  }